<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cffex.simulatedtradingtradeservice.mapper.TradesMapper">

    <resultMap id="BaseResultMap" type="com.cffex.simulatedtradingmodel.entity.Trades">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sellOrderId" column="sellOrderId" jdbcType="INTEGER"/>
            <result property="buyOrderId" column="buyOrderId" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="volume" column="volume" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sellOrderId,buyOrderId,
        price,volume,createTime
    </sql>
    <select id="selectPageTrade" resultType="com.cffex.simulatedtradingmodel.dto.trade.TradeDTO">
        SELECT
            i.name AS instrumentName,
            o.direction,
            o.combOffsetFlag,
            t.price,
            t.volume,
            t.createTime
        FROM
            orders o
                right JOIN trades t ON (o.direction = 0 AND o.id = t.buyOrderId)
                OR (o.direction = 1 AND o.id = t.sellOrderId)
                JOIN instrument i ON o.instrumentId = i.id
        WHERE o.userId = #{userId}
    </select>
</mapper>
